# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/sonarlint/issuestore/0/0/00e289e0b89848178a2c21f8ffd961cc2cde5fc9
/.idea/sonarlint/issuestore/1/e/1e3fa583cfc481106c4175e783b079fb4942b221
/.idea/sonarlint/issuestore/0/1/01d324f303a90b5262bf4ab8e9713a5fc9196fc7
/.idea/sonarlint/issuestore/2/e/2e4d07a0e29899ba093878db3469dfef133d57e3
/.idea/sonarlint/issuestore/2/f/2f438178aa44af6d85a87410fb488b7c2162c9ae
/.idea/sonarlint/issuestore/5/b/5ba8223ca8d737d95587c27b1c7db924402e44f2
/.idea/sonarlint/issuestore/5/e/5e6deafd09200d0c55bde72ff8e90843b3023863
/.idea/sonarlint/issuestore/7/b/7b86e8176c68543d10fa24531ad690cadf7b8661
/.idea/sonarlint/issuestore/7/d/7d1ba0bd4697c8acda3da1d25df8624eac0fc6b9
/.idea/sonarlint/issuestore/7/e/7ebbe4b3619676bac2beaad9af4b79905c38fac8
/.idea/sonarlint/issuestore/1/6/16df3c2e0068f7d636c05fc2ee06920262b8dd73
/.idea/sonarlint/issuestore/1/8/18f2057ea6c7655243268d63f7399dcae74b2407
/.idea/sonarlint/issuestore/2/2/22cfea0ea2ce6bb6aa7eed6ab7f9bbd37f63f8a0
/.idea/sonarlint/issuestore/2/8/28cea8a3fd0f220113bc43637ff015a1a228d5b9
/.idea/sonarlint/issuestore/3/3/33a378462de96c1efc2f36549389fe8200a84d59
/.idea/sonarlint/issuestore/3/3/33ee47639b7c7ef99165770fea5ae9d1d90b4234
/.idea/sonarlint/issuestore/3/5/35b8c13cf2eb2a194eada000eb310d65aed53b2a
/.idea/sonarlint/issuestore/3/5/35bf96d806c4b96f134929c845ce6f084c5d4cc2
/.idea/sonarlint/issuestore/4/1/41a87a6fc2a9421b76ab82de66e9d902262713e5
/.idea/sonarlint/issuestore/4/9/49f23304a94f95d9e81da9c88c7ce86ccb220600
/.idea/sonarlint/issuestore/5/1/51b0fc951b1ab3e79f67b74ecdbdc672be291bbe
/.idea/sonarlint/issuestore/6/8/68dd89bba379a5ec73bc988479b8b9a9c893e130
/.idea/sonarlint/issuestore/7/5/75dc2a73c2d3488596f3be042377f6fbb3d2c0e7
/.idea/sonarlint/issuestore/3/6/361ba69b2891c22f15b7115e95239f6b96219553
/.idea/sonarlint/issuestore/4/2/426bc6af122e3408868c6f3316202e005f2b8fae
/.idea/sonarlint/issuestore/5/6/563f36739aa33c645cd2ac612f18ded6bc75bb39
/.idea/sonarlint/issuestore/6/7/671c478518a1ab2ace6f35ba185cf25309d9eec4
/.idea/sonarlint/issuestore/6/9/692f4846a2a00062050903c71181348b01f2cc7e
/.idea/sonarlint/issuestore/9/6/966e57413ccb323bc5ae006f55fa0c16f8117ea1
/.idea/sonarlint/issuestore/1/5/1551e8d6bc46f73d66e9cf2674a0b2a2a342ecbb
/movieinfo/target/surefire-reports/2022-04-20T12-20-33_177-jvmRun1.dump
/.idea/sonarlint/issuestore/5/1/5190ed07747e37e48ef16e38ed60a9f9ca22e11b
/.idea/sonarlint/issuestore/5/9/5929e39f8b7566bdd9a4f81cde773dcb066355d7
/.idea/sonarlint/issuestore/6/1/6196c375751d4278a8b030ae72baaacb781f0db2
/.idea/sonarlint/issuestore/6/9/6933e87f5b71206d9f7af8f6e0f29a5ca90cef3d
/.idea/sonarlint/issuestore/1/7/173569f38f0c5009602f9c8ddda8e745191ae2d4
/.idea/sonarlint/issuestore/6/4/642800db290b92b4ca9bfa3721a0b71e5824c77e
/.idea/sonarlint/issuestore/0/0/00879376b317c631f99cfd1ca58424024cedc86d
/.idea/sonarlint/issuestore/a/2/a21271f1bf98b5dc3ea8505bdc88846bcdc93ea7
/.idea/sonarlint/issuestore/a/b/abe11ace62a632bd4e67b6c625b781332540d5c9
/.idea/sonarlint/issuestore/a/c/ac3d2bb67e785687f2bbfa85c43de66202fe9058
/.idea/sonarlint/issuestore/a/d/ada541a32f9a4df156d9d62d77b28ec4bd307469
/.idea/sonarlint/issuestore/a/f/afeae288cef4c173852efc8fab552e5cc8449d5b
/movie/target/classes/application.properties
/movieinfo/target/classes/application.yml
/moviereview/target/classes/application.yml
/.idea/aws.xml
/.idea/sonarlint/issuestore/b/0/b0cc13aded834f029259fea595b9e0af2836bf26
/.idea/sonarlint/issuestore/c/0/c0e949e4c43f9f1f7c5634aa9cedae293142b9a5
/.idea/sonarlint/issuestore/c/5/c552dc38bbc3a3629d28ab33b4d172cc9a7d261d
/.idea/sonarlint/issuestore/c/7/c751fe997c7d267ff56fcec76a31f770b027b0ed
/.idea/sonarlint/issuestore/c/7/c774e209e9019218ddf336f60dfd8d4ee8b087fd
/.idea/codeStyles/codeStyleConfig.xml
/movieinfo/target/surefire-reports/com.reactivesprig.controller.MonoAndFluxControllerTest.txt
/movieinfo/target/surefire-reports/com.reactivesprig.controller.MovieInfoControllerIntgTest.txt
/movieinfo/target/surefire-reports/com.reactivesprig.controller.MovieInfoControllerTest.txt
/movieinfo/target/surefire-reports/com.reactivesprig.MovieinfoApplicationTests.txt
/movieinfo/target/surefire-reports/com.reactivesprig.SinkTest.txt
/movie/target/surefire-reports/com.reactivespring.controller.MovieControllerIntgTest.txt
/movie/target/surefire-reports/com.reactivespring.MovieApplicationTests.txt
/moviereview/target/surefire-reports/com.reactivespring.MovieReviewUnitTests.txt
/moviereview/target/surefire-reports/com.reactivespring.router.ReviewsIntgTest.txt
/.idea/compiler.xml
/movie/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/movie/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/movieinfo/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/movieinfo/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/moviereview/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/moviereview/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/.idea/sonarlint/issuestore/d/0/d01a3d6768ad7cdcc1cc8cf275f80186edbcb747
/.idea/sonarlint/issuestore/d/7/d7a2c60e95a37e3bfee793a28a4d98b63e3342df
/.idea/sonarlint/issuestore/d/0/d0395800ea45a19c8a90a7666705984655a3381c
/.idea/dbnavigator.xml
/.idea/sonarlint/issuestore/d/c/dcbe792a7fd687503a0883078c954c6cd757ca47
/.idea/sonarlint/issuestore/e/0/e0a2895b2a437d0da8280f5a5ac1897d83b668f9
/.idea/sonarlint/issuestore/e/1/e18de05293cd36a1e390e434cefe30d2c83a5d4d
/.idea/sonarlint/issuestore/e/7/e78ae6eaf32cad2389762e6013c5f8e5d28f5255
/.idea/sonarlint/issuestore/e/5/e5004a8c1f7e909710174c8680b5ad38f13b987f
/.idea/encodings.xml
/.idea/sonarlint/issuestore/f/0/f020f3e6685230da38578274c979c9c94f9f1fd4
/.idea/sonarlint/issuestore/f/a/faef59e51569ff431e2e5b93ec915cc071e76b14
/movieinfo/target/failsafe-reports/failsafe-summary.xml
/.idea/sonarlint/issuestore/f/f/ff69247a17617383d580622e9f888248d115ab9d
/.idea/git_toolbox_prj.xml
/movie/HELP.md
/movieinfo/HELP.md
/moviereview/HELP.md
/.idea/sonarlint/issuestore/index.pb
/movie/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/movie/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/movieinfo/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/movieinfo/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/moviereview/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/moviereview/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/.idea/jarRepositories.xml
/movie/.mvn/wrapper/maven-wrapper.properties
/movieinfo/.mvn/wrapper/maven-wrapper.properties
/moviereview/.mvn/wrapper/maven-wrapper.properties
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_11.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_11.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_2_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_13_2.xml
/.idea/libraries/Maven__com_github_luben_zstd_jni_1_5_0_2.xml
/.idea/libraries/Maven__com_github_tomakehurst_wiremock_jre8_standalone_2_31_0.xml
/.idea/libraries/Maven__com_github_ulisesbocchio_jasypt_spring_boot_3_0_4.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_6_0.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_15.xml
/.idea/libraries/Maven__de_flapdoodle_embed_de_flapdoodle_embed_mongo_3_0_0.xml
/.idea/libraries/Maven__de_flapdoodle_embed_de_flapdoodle_embed_process_3_0_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_annotations_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_bulkhead_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_circuitbreaker_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_circularbuffer_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_consumer_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_core_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_framework_common_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_micrometer_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_ratelimiter_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_reactor_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_retry_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_spring_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_spring_boot2_1_7_1.xml
/.idea/libraries/Maven__io_github_resilience4j_resilience4j_timelimiter_1_7_1.xml
/.idea/libraries/Maven__io_micrometer_micrometer_core_1_8_4.xml
/.idea/libraries/Maven__io_netty_netty_buffer_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_dns_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_http2_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_http_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_socks_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_common_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_proxy_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_dns_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_dns_classes_macos_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_dns_native_macos_osx_x86_64_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_classes_epoll_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_75_Final.xml
/.idea/libraries/Maven__io_projectreactor_netty_reactor_netty_core_1_0_17.xml
/.idea/libraries/Maven__io_projectreactor_netty_reactor_netty_http_1_0_17.xml
/.idea/libraries/Maven__io_projectreactor_reactor_core_3_4_16.xml
/.idea/libraries/Maven__io_projectreactor_reactor_test_3_4_16.xml
/.idea/libraries/Maven__io_vavr_vavr_0_10_2.xml
/.idea/libraries/Maven__io_vavr_vavr_match_0_10_2.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_11_22.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_11_22.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_5_6_0.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_platform_5_6_0.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_8.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_4_8.xml
/.idea/libraries/Maven__org_apache_commons_commons_compress_1_20.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_12_0.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_13.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_15.xml
/.idea/libraries/Maven__org_apache_kafka_kafka_clients_3_0_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_17_2.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_17_2.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_60.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_7.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_21_0.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_12.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_2_3_Final.xml
/.idea/libraries/Maven__org_jasypt_jasypt_1_9_3.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_3_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/.idea/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml
/.idea/libraries/Maven__org_lz4_lz4_java_1_7_1.xml
/.idea/libraries/Maven__org_mockito_mockito_core_4_0_0.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_4_0_0.xml
/.idea/libraries/Maven__org_mongodb_bson_4_4_2.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_core_4_4_2.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_reactivestreams_4_4_2.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_22.xml
/.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_36.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_mongodb_reactive_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_reactor_netty_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_webflux_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_6_6.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_contract_wiremock_3_1_1.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_6_3.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_3_3_3.xml
/.idea/libraries/Maven__org_springframework_kafka_spring_kafka_2_8_4.xml
/.idea/libraries/Maven__org_springframework_retry_spring_retry_1_3_2.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_messaging_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_webflux_5_3_18.xml
/.idea/libraries/Maven__org_xerial_snappy_snappy_java_1_1_8_1.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_8_4.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_29.xml
/.idea/misc.xml
/.idea/modules.xml
/movie/movie.iml
/movieinfo/target/movie-info-service.jar.original
/moviereview/target/movie-review-service.jar.original
/movieinfo/movieinfo.iml
/movie/target/test-classes/__files/movieinfo.json
/moviereview/moviereview.iml
/movie/mvnw
/movieinfo/mvnw
/moviereview/mvnw
/movie/mvnw.cmd
/movieinfo/mvnw.cmd
/moviereview/mvnw.cmd
/movieinfo/target/maven-archiver/pom.properties
/moviereview/target/maven-archiver/pom.properties
/.idea/codeStyles/Project.xml
/movie/target/test-classes/__files/reviews.json
/.idea/SpringBootWebflux.iml
/movieinfo/target/surefire-reports/TEST-com.reactivesprig.controller.MonoAndFluxControllerTest.xml
/movieinfo/target/surefire-reports/TEST-com.reactivesprig.controller.MovieInfoControllerIntgTest.xml
/movieinfo/target/surefire-reports/TEST-com.reactivesprig.controller.MovieInfoControllerTest.xml
/movieinfo/target/surefire-reports/TEST-com.reactivesprig.MovieinfoApplicationTests.xml
/movieinfo/target/surefire-reports/TEST-com.reactivesprig.SinkTest.xml
/movie/target/surefire-reports/TEST-com.reactivespring.controller.MovieControllerIntgTest.xml
/movie/target/surefire-reports/TEST-com.reactivespring.MovieApplicationTests.xml
/moviereview/target/surefire-reports/TEST-com.reactivespring.MovieReviewUnitTests.xml
/moviereview/target/surefire-reports/TEST-com.reactivespring.router.ReviewsIntgTest.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
